<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 渠道配置 -->
    <bean id="channelService" class="org.bcos.channel.client.Service">
        <property name="orgID" value="nczcw"/>
        <property name="threadPool">
            <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
                <property name="corePoolSize" value="100"/>
                <property name="maxPoolSize" value="200"/>
                <property name="queueCapacity" value="200"/>
                <property name="keepAliveSeconds" value="60"/>
                <property name="rejectedExecutionHandler">
                    <bean class="java.util.concurrent.ThreadPoolExecutor.AbortPolicy"/>
                </property>
            </bean>
        </property>
        <property name="allChannelConnections">
            <map>
                <entry key="nchcgzc"> <!-- 公证处 -->
                    <bean class="org.bcos.channel.handler.ChannelConnections">
                        <property name="connectionsStr">
                            <list>
                                <value>e16183d2a52879d05d6da8aa932491f535c68175d3469821169ab4cf7efe53428009a6dbecb89623bcb435ce8b7e05208a4c795cf0c5c39f8382e6b4ae1ca6ad@116.62.227.4:8822</value>
                            </list>
                        </property>
                    </bean>
                </entry>
                <entry key="ebi">
                    <bean class="org.bcos.channel.handler.ChannelConnections">
                        <property name="connectionsStr">
                            <list>
                                <value>8db0f2bd0f5f073de37602be67a09ae3369f2ba50788b65d0119e11b44efaa9f1d0a33fbe4f64bd122fe4e19c3c0eed1d72ed0df7e1d1b628eac2222dbf330dc@47.98.228.98:8822</value>
                            </list>
                        </property>
                    </bean>
                </entry>
                <entry key="nczcw"> <!-- 仲裁委 -->
                    <bean class="org.bcos.channel.handler.ChannelConnections">
                        <property name="connectionsStr">
                            <list>
                                <value>2171279cc2581773d5aaa45773c3220a204d153f11e5fe962ca836d34c615c31db48c6e758b121218869aab8c95fd1a2ed52fb3fa37a62099a0c213be9a43e6f@47.98.253.5:8822</value>
                            </list>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="EvidenceSDKFactory" class="com.yibi.ocs.sdk.factory.EvidenceSDKFactory">
        <property name="channelService" ref="channelService"/>
        <property name="signersAddressConf" ref="SignersAddressConf"/>
        <property name="keyStorePath" value="classpath:nczcw.jks"/>
        <property name="keyStorePassword" value="123456"/>
    </bean>

    <bean id="SignersAddressConf" class="com.yibi.ocs.sdk.config.SignersAddressConf">
        <property name="evidenceSignersDataAddress" value="0xe9ed8526260796ee667e7217b239fdb357fcdfc5"/>
    </bean>

    <bean id="EvidenceSDK" class="com.yibi.ocs.sdk.service.EvidenceFace" factory-bean="EvidenceSDKFactory"
          factory-method="getEvidenceFace"/>

</beans>